<% if artwork.artwork_images.last %>

	<% image_url = artwork.artwork_images.last.image_url %>

	<a href="/artworks/<%= artwork.id%>">
		<div class="thumbnail" style="height:200px; width:200px; background-image:url(<%= image_url %>)"></div>
	</a>

<% else %>
	<a href="/artworks/<%= artwork.id%>">
		<div class="thumbnail"></div>
	</a>
<% end %>	