
	<% if artwork.artwork_images.last %>

		<% image_url = artwork.artwork_images.last.image_url %>
	<li>
		<a href="/artworks/<%= artwork.id%>">
			<div class="thumbnail" style="height:100px; width:100px; background-image:url(<%= image_url %>)"></div>
		</a>
	</li>
<% else %>
	<li>
		<a href="/artworks/<%= artwork.id%>">
			<div class="thumbnail"></div>
		</a>
	</li>
<% end %>	

