<% if artwork.artwork_images.last %>

	<% image_url = artwork.artwork_images.last.image_url %>

	<div class="thumbnail" style="height:200px; width:200px; background-image:url(<%= image_url %>)"></div>

<% else %>
	
	<div class="thumbnail"></div>

<% end %>	