<header class="clearfix">
	<ul id="top-nav">
	<li id="artist-name" class="serif"><%= link_to Rails.configuration.x.artist.name, root_path %></li> 
		<li class="right-align"><%=link_to 'Work', artworks_path %></li>
		<li class="right-align"> <%= link_to 'Exhibitions', exhibitions_path %></li>

</ul>
</header>