// Place all the styles related to the ArtworkImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artwork-show-image {
	min-height: 500px;
	background-repeat:no-repeat;
	background-position: center center;
}